<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/head' %>
</head>
<body class="<%= "#{params[:controller]} #{params[:controller]}-#{params[:action]}".gsub(/[\/_]/, '-') %>">
  <header class="main-header">
    <%= link_to root_path, title: 'Encuentra tu Mascota' do %>
      <%= image_tag 'landing/logo-etm.png', alt: 'Encuentra tu Mascota' %>
    <% end %>
    <hgroup>
      <h1>Encuentra tu Mascota</h1>
      <h2><%= t('general.tagline') %></h2>
      <h3><%= t('general.tagline_2') %></h3>
    </hgroup>
    <%= link_to t('.call_to_action'), app_path, class: 'btn' %>
  </header>

  <section>
    <div class="preview"></div>

    <div class="features">
      <ul>
        <li class="publish">
          <h4><%= t('.features.publish.title') %></h4>
          <p><%= t('.features.publish.desc') %></p>
        </li>
        <li class="search">
          <h4><%= t('.features.search.title') %></h4>
          <p><%= t('.features.search.desc') %></p>
        </li>
        <li class="spread">
          <h4><%= t('.features.spread.title') %></h4>
          <p><%= t('.features.spread.desc') %></p>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <p>
      2013 Encuentra Tu Mascota -
      <a href="http://twitter.com/sntaln" target="_blank">@sntaln</a> &amp;
      <a href="http://twitter.com/sborrazas" target="_blank">@sborrazas</a>
    </p>
    <ul>
      <li><a href="http://twitter.com/etmuruguay" target="_blank" class="twitter"><span class="text">Twitter</span></a></li>
      <li><a href="http://www.facebook.com/EncuentratuMascotaUY" target="_blank" class="facebook"><span class="text">Facebook</span></a></li>
      <li><a href="mailto:encuentratumascotaorg@gmail.com" target="_blank" class="email"><span class="text">Email</span></a></li>
    </ul>
  </footer>
</body>
</html>
