<%= title 'Encuentratumascota', visible: false %>

<section id="main-sidebar">
  <div class="btn-group sidebar-options">
    <button class="btn" data-publication-type="all">
      <%= t('models.publication.publication_types.all') %>
    </button>
    <button class="btn" data-publication-type="lost">
      <%= t('models.publication.publication_types.lost') %>
    </button>
    <button class="btn" data-publication-type="found">
      <%= t('models.publication.publication_types.found') %>
    </button>
    <button class="btn" data-publication-type="adoption">
      <%= t('models.publication.publication_types.adoption') %>
    </button>
  </div>

  <!-- 1. Publication list -->
  <div id="publication-list" class="sidebar-item">
    <ul></ul>
    <div class="empty-state">
      <p>
        <span class="big-icon empty-publication-list"></span>
        <%= t('.empty_publication_list') %>
      </p>
    </div>
  </div>
  <!-- 2. Publication form -->
  <div id="new-publication-container" class="sidebar-item">
    <%= render partial: 'shared/new_publication' %>
  </div>
  <!-- 3. Publication detail -->
  <div id="publication-detail-container" class="sidebar-item">
    <p class="detail-nav"><a href="#" class="go-back"><span class="icon back"></span><%= t('.go_back' ) %></a></p>
    <div class="publication-detail-info"></div>
    <div class="contact-info">
      <p><strong><%= t('.contact_info') %></strong> <span class="content"></span></p>
    </div>
    <div class="contact">
      <button class="btn btn-success"><%= t('.request_contact_info') %></button>
    </div>
  </div>
</section>

<section id="main-panel"></section>

<%= render partial: 'shared/publication_templates' %>
<%= render partial: 'shared/sign_in' %>
<%= render partial: 'shared/sign_up' %>

<% content_for :javascript do %>
  require(['require', 'app/main/index'], function (require) {
    require(['app/main/index'], function (view) {
      view.init(<%= {
        userSignedIn: !! current_user,
        publications: @publications.map do |publication|
          Presenters::Publication.to_json_hash(publication)
        end,
        flash: @flash_messages,
        translations: t('.js')
      }.to_json.html_safe %>);
    });
  });
<% end %>
