<h3>Publicar mascota</h3>

<%= form_for @new_publication, url: '#', html: { id: 'publication-form', multipart: true } do |f| %>
  <div class="control-group">
    <%= f.label :publication_type, 'Estado', class: 'control-label required' %>
    <div class="controls">
      <%= f.select :publication_type, Publication::PUBLICATION_TYPES %>
    </div>
  </div>
  <div id="image-upload-fields" class="control-group">
    <span class="control-label">Imagen</span>
    <ul class="controls"></ul>
    <button class="btn">Agregar imagen</button>
  </div>
  <div class="control-group">
    <%= f.label :pet_name, 'Nombre de la Mascota', class: 'control-label required' %>
    <div class="controls">
      <%= f.text_field :pet_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :breed_id, 'Raza', class: 'control-label required' %>
    <div class="controls">
      <%= f.select :breed_id, Breed.all.map {|b| [b.name, b.id] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, 'Descripción', class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 3 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lost_on, 'Perdido el', class: 'control-label required' %>
    <div class="controls">
      <%= f.text_field :lost_on %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reward, 'Recompensa', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :reward %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact, 'Contacto', class: 'control-label required' %>
    <div class="controls">
      <%= f.text_field :reward %>
    </div>
  </div>
  <div class="control-group">
    <%= f.submit 'Publicar', class: 'btn btn-success btn-large', id: 'publication-submit' %>
    <button id="btn-cancel-publication" class="btn btn-large btn-cancel-publication">Cancelar</button>
  </div>
<% end %>

<div class="note">
  La publicaci&oacute;n necesita aprobaci&oacute;n de un administrador.
  Prohibida la venta de animales. Recibir&aacute;s un mail cuando se publique.
</div>

<script type="text/x-jquery-tmpl" id="attachment-template">
  <li>
    <label for="publication_attachment_${id}" class="upload-label">Add a new image</label>
    <input id="publication_attachment_${id}" type="file" name="publication[attachment][${name}]" />
  </li>
</script>
