<div class="modal" id="modal-sign-up" tabindex="-1" role="dialog" data-show="false" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-body">
    <%= form_for @user, url: registration_path(@user, format: :json) do |f| %>
      <p class="field">
        <%= f.label :email, 'Your Email' %>
        <%= f.text_field :email, placeholder: 'Email' %>
      </p>

      <p class="field">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, autocomplete: 'off' %>
      </p>

      <p><%= f.submit 'Crear Cuenta', class: 'btn btn-golden btn-block btn-large' %></p>
    <% end %>
  </div>
  <div class="modal-footer">
    <%= render partial: 'shared/auth_footer' %>
    <p>¿Ya eres usuario? <a href="#" class="btn-sign-in">Iniciar Sesi&oacute;n</a></p>
  </div>
</div>
