<h3><%= t('main.index.new_publication_title') %></h3>

<div class="separator"></div>

<%= form_for @new_publication, url: '#', html: { id: 'publication-form', multipart: true } do |f| %>
  <div class="control-group">
    <%= f.label :pet_name, t('models.publication.pet_name.label'), class: 'control-label required' %>
    <div class="controls">
      <%= f.text_field :pet_name, placeholder: t('models.publication.pet_name.placeholder') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :publication_type, t('models.publication.publication_type'), class: 'control-label required' %>
    <div class="controls">
      <%= f.select :publication_type, Publication::PUBLICATION_TYPES %>
    </div>
  </div>
  <div id="image-upload-fields" class="control-group">
    <span class="control-label"><%= t('models.publication.attachments') %></span>
    <ul class="controls"></ul>
  </div>
  <div class="control-group">
    <span class="control-label required"><%= t('models.publication.sex') %></span>
    <div class="controls sex-control">
      <% Publication::SEXES.each do |sex| %>
        <%= f.radio_button :sex, sex %>
        <%= f.label "sex_#{sex}", t("models.publication.sexes.#{sex}") %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :breed_id, t('models.publication.breed'), class: 'control-label required' %>
    <div class="controls">
      <%= f.select :breed_id, Breed.sorted.all.map {|b| [b.name, b.id] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, t('models.publication.description.label'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 3, placeholder: t('models.publication.description.placeholder') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lost_on, t('models.publication.lost_on'), class: 'control-label required' %>
    <div class="controls datepicker">
      <%= f.text_field :lost_on, value: Date.today.strftime('%d/%m/%Y') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reward, t('models.publication.reward.label'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :reward, placeholder: t('models.publication.reward.placeholder') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact, t('models.publication.contact.label'), class: 'control-label required' %>
    <div class="controls">
      <%= f.text_field :contact, placeholder: t('models.publication.contact.placeholder') %>
    </div>
  </div>
  <div class="separator"></div>
  <div class="control-group form-buttons">
    <%= f.submit t('main.index.publication_submit'), class: 'btn btn-success btn-large', id: 'publication-submit' %>
    <a href="#" class="btn btn-large btn-cancel-publication"><%= t('main.index.publication_cancel') %></a>
  </div>
<% end %>

<div class="note">
  <%= t('main.index.publication_disclaimer') %>
</div>

<script type="text/x-jquery-tmpl" id="attachment-template">
  <li>
    <label for="publication_attachment_${id}" class="hidden">Add a new image</label>
    <input id="publication_attachment_${id}" type="file" name="${name}" />
  </li>
</script>
