<div class="modal" id="modal-sign-in" tabindex="-1" role="dialog" data-show="false" style="display: none;">
  <div class="modal-body">
    <%= form_for @user, url: sessions_path(format: :json) do |f| %>
      <p class="field">
        <%= f.label :email, t('models.user.email.label') %>
        <%= f.text_field :email, placeholder: t('models.user.email.placeholder') %>
      </p>

      <p class="field">
        <%= f.label :password, t('models.user.password.label') %>
        <%= f.password_field :password, autocomplete: 'off', placeholder: t('models.user.password.placeholder') %>
      </p>

      <p><%= f.submit t('main.index.session_form.submit'), class: 'btn btn-golden btn-block btn-large' %></p>
    <% end %>
  </div>
  <div class="modal-footer">
    <%= render partial: 'main/extras/auth_footer' %>
    <p class="register">
      <%= t('main.index.session_form.sign_up_alternative') %>
      <a href="#" class="btn-sign-up"><%= t('main.index.session_form.sign_up') %></a>
    </p>
  </div>
</div>
