<div class="control-group">
  <%= form.label :pet_name, t('models.publication.pet_name.short'), class: 'control-label' %>
  <div class="controls">
    <%= form.text_field :pet_name, placeholder: t('models.publication.pet_name.long') %>
  </div>
</div>

<div class="control-group">
  <%= form.label :description, t('models.publication.description.short'), class: 'control-label' %>
  <div class="controls">
    <%= form.text_area :description, rows: 4, placeholder: t('models.publication.description.long') %>
  </div>
</div>

<!-- TODO Display map (with lat and lng) -->

<div class="control-group">
  <%= form.label :reward, t('models.publication.reward.short'), class: 'control-label' %>
  <div class="controls">
    <%= form.text_field :reward, placeholder: t('models.publication.reward.placeholder') %>
  </div>
</div>

<div class="control-group">
  <%= form.label :publication_type, t('models.publication.publication_type'), class: 'control-label' %>
  <div class="controls">
    <%= form.select :publication_type, publication_type_options %>
  </div>
</div>

<div class="control-group">
  <%= form.label :breed, t('models.publication.breed'), class: 'control-label' %>
  <div class="controls">
    <%= form.select :breed, Breed.all %>
  </div>
</div>

<div class="control-group">
  <%= form.label :lost_on, t('models.publication.lost_on'), class: 'control-label' %>
  <div class="controls">
    <%= form.text_field :lost_on %><!-- TODO Datepicker -->
  </div>
</div>

<div class="control-group">
  <%= form.label :contact, t('models.publication.contact'), class: 'control-label' %>
  <div class="controls">
    <%= form.text_field :contact %>
  </div>
</div>

<% if current_user.is_admin? %>
  <div class="control-group">
    <%= form.label :status, t('models.publication.status'), class: 'control-label' %>
    <div class="controls">
      <%= form.select :status, Publication::STATUSES %>
    </div>
  </div>
<% end %>

<!-- TODO Images -->
