<div class="control-group">
  <%= form.label :pet_name, t('models.publication.pet_name.label'), class: 'control-label' %>
  <div class="controls">
    <%= form.text_field :pet_name, placeholder: t('models.publication.pet_name.placeholder') %>
  </div>
</div>

<div class="control-group">
  <span class="control-label required"><%= t('models.publication.sex') %></span>
  <div class="controls sex-control">
    <% Publication::SEXES.each do |sex| %>
      <%= form.radio_button :sex, sex %>
      <%= form.label "sex_#{sex}", t("models.publication.sexes.#{sex}"), class: 'radio inline' %>
    <% end %>
  </div>
</div>

<div class="control-group">
  <span class="control-label"><%= t('models.publication.attachments') %></span>
  <ul class="controls">
    <% 4.times do |index| %>
      <li>
        <% if @publication.attachments[index] %>
          <%= image_tag @publication.attachments[index].image, alt: "#{@publication.pet_name} #{index}" %>
        <% end %>
        <%= form.label :"attachment_#{index}", class: 'hide' %>
        <input id="publication_attachment_<%= index %>" type="file" name="publication[attachments][<%= index %>]" />
      </li>
    <% end %>
  </ul>
</div>

<div class="control-group">
  <%= form.label :description, t('models.publication.description.label'), class: 'control-label' %>
  <div class="controls">
    <%= form.text_area :description, rows: 4, placeholder: t('models.publication.description.placeholder') %>
  </div>
</div>

<div class="control-group">
  <span class="control-label"><%= t('admin.publications.form.location') %></span>
  <div id="map"></div>
  <%= form.hidden_field :lat %>
  <%= form.hidden_field :lng %>
</div>

<div class="control-group">
  <%= form.label :reward, t('models.publication.reward.label'), class: 'control-label' %>
  <div class="controls">
    <%= form.text_field :reward, placeholder: t('models.publication.reward.placeholder') %>
  </div>
</div>

<div class="control-group">
  <%= form.label :publication_type, t('models.publication.publication_type'), class: 'control-label' %>
  <div class="controls">
    <%= form.select :publication_type, publication_type_options %>
  </div>
</div>

<div class="control-group">
  <%= form.label :breed_id, t('models.publication.breed'), class: 'control-label' %>
  <div class="controls">
    <%= form.select :breed_id, breed_options %>
  </div>
</div>

<div class="control-group">
  <%= form.label :lost_on, t('models.publication.lost_on'), class: 'control-label' %>
  <div class="controls datepicker">
    <%= form.text_field :lost_on, value: (@publication.lost_on || Date.current).strftime('%d/%m/%Y') %>
  </div>
</div>

  </div>
</div>

<div class="control-group">
  <%= form.label :contact, t('models.publication.contact'), class: 'control-label' %>
  <div class="controls">
    <%= form.text_field :contact %>
  </div>
</div>

<% if current_user.is_admin? %>
  <div class="control-group">
    <%= form.label :status, t('models.publication.status'), class: 'control-label' %>
    <div class="controls">
      <%= form.select :status, Publication::STATUSES %>
    </div>
  </div>

  <div class="control-group">
    <%= form.label :user_id, t('models.publication.user'), class: 'control-label' %>
    <div class="controls">
      <%= form.select :user_id, User.all.map {|u| [u.display, u.id] } %>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  require(['require', 'app/admin/publication_form'], function (require) {
    require(['app/admin/publication_form'], function (PublicationForm) {
      new PublicationForm();
    });
  });
<% end %>
