<header class="main-header">
  <ul class="breadcrumb">
    <li><%= link_to 'Encuentra tu Mascota', root_url %><span class="separator"> &gt; </span></li>
    <li>
      <% if current_user.is_admin? %>
        <%= t('admin.publications.general.publications') %>
        <% title_str = t('admin.general.publications') %>
      <% else %>
        <%= t('admin.publications.general.my_publications') %>
        <% title_str = t('admin.general.my_publications') %>
      <% end %>
    </li>
  </ul>
  <%= title title_str %>
  <% if current_user.is_admin? %>
    <p class="new"><%= link_to t('.new'), new_admin_publication_path, class: 'btn btn-primary' %></p>
  <% end %>
</header>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th><%= t('models.publication.pet_name.label') %></th>
    <th><%= t('models.publication.status') %></th>
    <th><%= t('models.publication.description.label') %></th>
    <th><%= t('models.publication.publication_type') %></th>
    <th><%= t('models.publication.lost_on') %></th>
    <th><%= t('.actions') %></th>
  </tr>
  <% @publications.each do |publication| %>
    <tr>
      <td><%= publication.pet_name %></td>
      <td><%= t("models.publication.statuses.#{publication.status}") %></td>
      <td><%= truncate(publication.description, length: 50, separator: ' ') %></td>
      <td><%= t("models.publication.publication_types.#{publication.publication_type}") %></td>
      <td><%= publication.created_at.strftime('%d/%m/%Y') %></td>
      <td>
        <!-- <%= link_to t('.show'), admin_publication_path(publication) %> -->
        <%= link_to t('.edit'), edit_admin_publication_path(publication) %>
        <!-- <%= link_to t('.delete'), edit_admin_publication_path(publication) %> -->
      </td>
    </tr>
  <% end %>
</table>
