<header class="main-header">
  <ul class="breadcrumb">
    <li><%= link_to 'Encuentra tu Mascota', root_url %><span class="separator"> &gt; </span></li>
    <li>
      <% if current_user.is_admin? %>
        <%= link_to t('admin.publications.general.publications'), admin_publications_path %>
      <% else %>
        <%= link_to t('admin.publications.general.my_publications'), admin_publications_path %>
      <% end %>
      <span class="separator"> &gt; </span>
    </li>
    <li class="active"><%= t('admin.publications.index.new') %></li>
  </ul>
  <%= title t('admin.publications.index.new') %>
</header>

<%= form_for @publication, url: admin_publications_path, html: { class: 'form-horizontal publication-form', multipart: true } do |form| %>

  <%= display_errors(@errors) if @errors %>

  <%= render partial: 'admin/publications/form', locals: { form: form } %>

  <div class="form-actions">
    <%= form.submit t('.submit'), class: 'btn btn-primary' %>
    <%= link_to t('.cancel'), admin_publications_path, class: 'btn' %>
  </div>
<% end %>
