<!DOCTYPE html>
<html>
<head>
  <title>Encuentratumascota</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script type="text/javascript" data-main="/assets/config.js" src="/assets/require.js"></script>
  <script type="text/javascript">
    // IE fix
    if (typeof window.console === 'undefined') {
      // hax
      window.console = {
        log: function () {}
      };
    }

    // Debug constant
    var _DEBUG = <%= Rails.env.development? %>;
  </script>
</head>
<body>

  <section class="side-panel z-80" id="side-panel">
    <div class="logo" id="logo">
      <%= image_tag 'logo.png', class: 'logo-img', id: 'logo-img' %>

      <h1 class="site-title"><span class="bold">Encuentra tu Mascota</span></h1>

      <span class="tagline" id="tagline">
        La manera m&aacute;s f&aacute;cil y r&aacute;pida
        de conectar mascotas con sus dueños
      </span>
    </div>
    <div class="sidebar-options arrow_box" id="sidebar-options">
      <ul>
        <li><input id="options-perdidos" type="checkbox"> <label for="options-perdidos">Perdidos</label></li>
        <li><input id="options-encontrados" type="checkbox"> <label for="options-encontrados">Encontrados</label></li>
        <li><input id="options-adopcion" type="checkbox"> <label for="options-adopcion">En Adopción</label></li>
      </ul>
    </div>
  </section>

  <section class="main-panel" id="main-panel">
    <%= yield %>
  </section>

  <footer class="footer z-90" id="footer">
    <a href="#" class="footer-link">¿Qué es EncuentraTuMascota?</a> <span class="footer-separator">|</span>
    <a href="#" class="footer-link">¿Cómo funciona?</a> <span class="footer-separator">|</span>
    <a href="#" class="footer-link">Términos de Uso</a> <span class="footer-separator">|</span>
    <a href="#" class="footer-link">Apoyo</a> <span class="footer-separator">|</span>
    <a href="#" class="footer-link">Facebook</a> <span class="footer-separator">|</span>
    <a href="#" class="footer-link">Twitter</a> <span class="footer-separator">|</span>
    <a href="#" class="footer-link">Contacto</a>
  </footer>

  <script type="text/javascript">
    require(['require', 'application'], function (require) {
      require(['application'], function (view) {
        view.init({
          // Application view data..
        });
      });
    });
    <%= yield :javascript %>
  </script>
</body>
</html>
