<!DOCTYPE html>
<html>
<head>
  <title>Encuentratumascota</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <% if Rails.env.development? %>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="cache-control" content="no-store">
    <meta http-equiv="cache-control" content="no-cache">
  <% end %>

  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script type="text/javascript" data-main="/assets/config.js" src="/assets/require.js"></script>
  <script type="text/javascript">
    // IE fix
    if (typeof window.console === 'undefined') {
      // hax
      window.console = {
        log: function () {}
      };
    }

    // Debug constant
    var _DEBUG = <%= Rails.env.development? %>;
  </script>
</head>
<body class="<%= "#{params[:controller]} #{params[:controller]}-#{params[:action]}" %>">
  <section class="side-panel">
    <header class="sidebar-section">
      <%= image_tag 'logo.png', class: 'logo-img', id: 'logo-img' %>
      <hgroup>
        <h1><span class="main-title">Pet</span>Finder</h1>
        <h2>La manera m&aacute;s f&aacute;cil y r&aacute;pida de conectar mascotas con sus due単os</h2>
      </hgroup>
    </header>

    <nav class="sidebar-section">
      <% unless current_user %>
        <div id="logged-out-nav">
          <p><a href="#" class="btn btn-sign-in">Iniciar sesi&oacute;n</a></p>
          <p>多No tienes usuario? <a href="#" class="btn-sign-up">Reg&iacute;strate</a>.</p>
        </div>
      <% end %>

      <div id="logged-in-nav"></div>

      <p><a href="#" id="publication-new" class="btn bnt-publish">Publicar mascota</a></p>
      <p>Mascotas perdidas, encontradas o en adopci&oacute;n. Prohibida la venta.</p>
    </nav>

    <div class="sidebar-section sidebar-options">
      <ul>
        <li>
          <input id="filter-lost" type="checkbox" value="lost">
          <label class="paws lost" for="filter-lost">Perdidos</label>
        </li>
        <li>
          <input id="filter-found" type="checkbox" value="found">
          <label class="paws found" for="filter-found">Encontrados</label>
        </li>
        <li>
          <input id="filter-adoption" type="checkbox" value="adoption">
          <label class="paws adoption" for="filter-adoption">En Adopci&oacute;n</label>
        </li>
      </ul>
    </div>

    <div class="sidebar-section">
      <h3 class="sponsor-title">Apoya</h3>
      <%= image_tag 'pedigree.png', class: 'sponsor-img' %>
    </div>
  </section>

  <section class="main-panel" id="main-panel">
    <%= yield %>
  </section>

  <footer>
    <ul>
      <li><a href="#">多Qu&eacute; es EncuentraTuMascota?</a></li>
      <li><a href="#">多C&oacute;mo funciona?</a></li>
      <li><a href="#">T&eacute;rminos de Uso</a></li>
      <li><a href="#">Apoyo</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </footer>

  <%= render partial: 'shared/new_publication' %>
  <%= render partial: 'shared/sign_in' %>
  <%= render partial: 'shared/sign_up' %>

  <script type="text/javascript">
    require(['require', 'application'], function (require) {
      require(['application'], function (view) {
        view.init({
          // Application view data..
        });
      });
    });
    <%= yield :javascript %>
  </script>

</body>
</html>
