<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/head' %>
</head>
<body class="<%= "#{params[:controller]} #{params[:controller]}-#{params[:action]}".gsub('/', '-') %>">
  <section id="main-navigation">
    <header>
      <%= link_to root_path, title: 'Encuentra tu Mascota' do %>
        <%= image_tag 'logo1.png', class: 'logo-img', id: 'logo-img' %>
        <hgroup>
          <h1>Encuentra tu Mascota</h1>
          <h2>La manera m&aacute;s f&aacute;cil y r&aacute;pida de conectar mascotas con sus dueños</h2>
        </hgroup>
      <% end %>
    </header>

    <nav>
      <% unless current_user %>
        <div id="logged-out-nav">
          <a href="#" class="btn-sign-in">Iniciar sesi&oacute;n</a>
        </div>
      <% end %>

      <div id="logged-in-nav">
        <a class="dropdown-toggle" href="#">
          <span id="username"><%= current_user.display if current_user %></span>
          <span class="icon dropdown-caret"></span>
        </a>
        <ul class="nav-dropdown-menu">
          <li><a href="/admin/publications">Mis Publicaciones</a></li>
          <!-- <li><a href="/admin/publications">Configuraci&oacute;n</a></li> -->
          <li><a href="/sessions/logout">Cerrar sesi&oacute;n</a></li>
        </ul>
      </div>

      <p class="publication-new-btn"><a href="#" id="publication-new">Publicar mascota</a></p>
    </nav>
  </section>

  <%= yield %>

  <script type="text/javascript">
    require(['require', 'application'], function (require) {
      require(['application'], function (view) {
        view.init({
          // Application view data..
        });
      });
    });
    <%= yield :javascript %>
  </script>

</body>
</html>
