<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/head' %>
</head>
<body class="<%= "#{params[:controller]} #{params[:controller]}-#{params[:action]}".gsub(/[\/_]/, '-') %>">
  <section class="main-navigation">
    <header>
      <%= link_to root_path, title: 'Encuentra tu Mascota' do %>
        <%= image_tag 'logo.png', class: 'logo' %>
        <hgroup>
          <h1>Encuentra tu Mascota</h1>
          <h2><%= t('general.tagline') %></h2>
        </hgroup>
      <% end %>
    </header>

    <nav>
      <ul>
        <li id="countries" class="secondary-nav dropdown-nav">
          <a href="#" class="dropdown-toggle main-nav-item country-item">
            <span class="country-icon <%= current_country.code.downcase %>"></span>
            <%= current_country.name %>
            <span class="icon dropdown-caret"></span>
          </a>
          <ul class="dropdown-list">
            <% Country.all.select {|c| c != current_country }.each do |country| %>
              <li>
                <%= link_to(change_country_sessions_path(country.code), class: 'country-item') do %>
                  <span class="country-icon <%= country.code.downcase %>"></span>
                  <%= country.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>

        <li class="secondary-nav">
          <%= link_to t('general.nav.how_it_works'), how_it_works_path, class: 'main-nav-item' %>
        </li>
        <li class="secondary-nav">
          <a href="mailto:encuentratumascotaorg@gmail.com" target="_blank" class="main-nav-item">
            <%= t('general.nav.contact') %>
          </a>
        </li>
        <li class="secondary-nav">
          <a href="https://twitter.com/ETMUruguay" class="twitter-follow-button" data-show-count="false" data-lang="es" data-show-screen-name="false">Seguir a @ETMUruguay</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </li>
        <li class="secondary-nav">
          <div class="fb-like" data-href="http://facebook.com/ETMUruguay" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        </li>
        <% unless current_user %>
          <li class="logged-out-nav">
            <a href="#" class="btn-sign-in"><%= t('general.nav.sign_in') %></a>
          </li>
        <% end %>

        <li class="dropdown-nav logged-in-nav primary-nav">
          <a href="#" class="dropdown-toggle main-nav-item hover-activation">
            <span id="user-image"><%= current_user_image if current_user %></span>
            <span id="username"><%= current_user.display if current_user %></span>
            <span class="icon dropdown-caret"></span>
          </a>
          <ul class="dropdown-list">
            <li><%= link_to t('admin.general.my_publications'), admin_publications_path %></li>
            <li><%= link_to t('general.nav.sign_out'), logout_sessions_path %></li>
          </ul>
        </li>

        <li class="primary-nav">
          <%= link_to t('general.nav.new_publication'), '/p/new', id: 'publication-new', class: 'btn btn-warning' %>
        </li>
      </ul>
    </nav>
  </section>

  <%= yield %>

  <script type="text/javascript">
    require(['require', 'application'], function (require) {
      require(['application'], function (view) {
        view.init({
          // Application view data..
        });
      });
    });
    <%= yield :javascript %>
  </script>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=429668690427736";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
