<!DOCTYPE html>
<html>
<head>
  	<title>Encuentratumascota</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<%= stylesheet_link_tag    "application", :media => "all" %>

 	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKL_F0m5ZTEeQpvyUk3_UGhnlD75k-x_w&sensor=false"></script>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>

	<script type="text/javascript"  >
	$(document).ready(function()
	{
		Petfinder.initMap();		
	});
	</script>
</head>
<body>

	<section class="side-panel z-80" id="side-panel">
		
			<div class="logo" id="logo">
				<img src="<%= asset_path 'logo.png' %>" alt="" class="logo-img" id="logo-img">

				<h1 class="site-title"><span class="bold">Pet</span>Finder</h1>

				<span class="tagline" id="tagline">
					La manera más fácil y rápida 
					de conectar mascotas con sus dueños
				</span>

			</div>
		<div class="sidebar-options arrow_box" id="sidebar-options">
			<ul>
				<li><input id="options-perdidos" type="checkbox"> <label for="options-perdidos">Perdidos</label></li>
				<li><input id="options-encontrados" type="checkbox"> <label for="options-encontrados">Encontrados</label></li>
				<li><input id="options-adopcion" type="checkbox"> <label for="options-adopcion">En Adopción</label></li>
			</ul>
		</div>


	</section>

	<section class="main-panel" id="main-panel">
		<%= yield %>
	</section>
	


	<footer class="footer z-90" id="footer">
		<a href="#" class="footer-link">¿Qué es PetFinder?</a> <span class="footer-separator">|</span>
		<a href="#" class="footer-link">¿Cómo funciona?</a> <span class="footer-separator">|</span>
		<a href="#" class="footer-link">Términos de Uso</a> <span class="footer-separator">|</span>
		<a href="#" class="footer-link">Apoyo</a> <span class="footer-separator">|</span>
		<a href="#" class="footer-link">Facebook</a> <span class="footer-separator">|</span>
		<a href="#" class="footer-link">Twitter</a> <span class="footer-separator">|</span>
		<a href="#" class="footer-link">Contacto</a>
	</footer>

</body>
</html>
