<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/head' %>
</head>
<body class="<%= "#{params[:controller]} #{params[:controller]}-#{params[:action]}".gsub('/', '-') %>">
  <section id="main-navigation">
    <header>
      <%= link_to root_path, title: 'Encuentra tu Mascota' do %>
        <%= image_tag 'logo1.png', class: 'logo' %>
        <hgroup>
          <h1>Encuentra tu Mascota</h1>
          <h2><%= t('general.tagline') %></h2>
        </hgroup>
      <% end %>
    </header>

    <nav>
      <div class="info-nav">
        <a href="/#how-it-works" class="main-nav-item"><%= t('general.nav.how_it_works') %></a>
        <a href="/#contact" class="main-nav-item"><%= t('general.nav.contact') %></a>
      </div>
      <% unless current_user %>
        <div id="logged-out-nav">
          <a href="#" class="btn-sign-in"><%= t('general.nav.sign_in') %></a>
        </div>
      <% end %>

      <div id="logged-in-nav">
        <a class="dropdown-toggle main-nav-item" href="#">
          <span id="user-image"><%= current_user_image if current_user %></span>
          <span id="username"><%= current_user.display if current_user %></span>
          <span class="icon dropdown-caret"></span>
        </a>
        <ul class="nav-dropdown-menu">
          <li><a href="/admin/publications"><%= t('admin.general.my_publications') %></a></li>
          <!-- <li><a href="/admin/publications">Configuraci&oacute;n</a></li> -->
          <li><a href="/sessions/logout"><%= t('general.nav.sign_out') %></a></li>
        </ul>
      </div>

      <a class="btn btn-warning" href="/#publication-new" id="publication-new"><%= t('general.nav.new_publication') %></a>
    </nav>
  </section>

  <%= yield %>

  <script type="text/javascript">
    require(['require', 'application'], function (require) {
      require(['application'], function (view) {
        view.init({
          // Application view data..
        });
      });
    });
    <%= yield :javascript %>
  </script>

</body>
</html>
