<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/head' %>
</head>
<body class="<%= "#{params[:controller]} #{params[:controller]}-#{params[:action]}" %>">
  <section id="main-navigation">
    <header>
      <%= image_tag 'logo.png', class: 'logo-img', id: 'logo-img' %>
      <hgroup>
        <h1>Encuentra tu Mascota</h1>
        <h2>La manera m&aacute;s f&aacute;cil y r&aacute;pida de conectar mascotas con sus dueños</h2>
      </hgroup>
    </header>

    <nav>
      <!--
      <div id="logged-out-nav">
        <p><a href="#" class="btn btn-sign-in">Iniciar sesi&oacute;n</a></p>
        <p>¿No tienes usuario? <a href="#" class="btn-sign-up">Reg&iacute;strate</a>.</p>
      </div>
      -->
      <div id="logged-in-nav"></div>
      <p><a href="#" id="publication-new">Publicar mascota</a></p>
    </nav>
  </section>

  <%= yield %>

  <script type="text/javascript">
    require(['require', 'application'], function (require) {
      require(['application'], function (view) {
        view.init({
          // Application view data..
        });
      });
    });
    <%= yield :javascript %>
  </script>

</body>
</html>
