<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/head' %>
</head>
<body class="<%= "#{params[:controller]} #{params[:controller]}-#{params[:action]}".gsub(/[\/_]/, '-') %>">
  <section class="main-navigation">
    <header>
      <%= link_to root_path, title: 'Encuentra tu Mascota' do %>
        <%= image_tag 'logo1.png', class: 'logo' %>
        <hgroup>
          <h1>Encuentra tu Mascota</h1>
          <h2><%= t('general.tagline') %></h2>
        </hgroup>
      <% end %>
    </header>

    <nav>
      <div class="info-nav">
        <%= link_to t('general.nav.how_it_works'), root_path, class: 'main-nav-item' %>
        <a href="mailto:encuentratumascotaorg@gmail.com" target="_blank" class="main-nav-item">
          <%= t('general.nav.contact') %>
        </a>
      </div>
      <% unless current_user %>
        <div id="logged-out-nav">
          <a href="#" class="btn-sign-in"><%= t('general.nav.sign_in') %></a>
        </div>
      <% end %>

      <div id="logged-in-nav">
        <a class="dropdown-toggle main-nav-item" href="#">
          <span id="user-image"><%= current_user_image if current_user %></span>
          <span id="username"><%= current_user.display if current_user %></span>
          <span class="icon dropdown-caret"></span>
        </a>
        <ul class="nav-dropdown-menu">
          <li><%= link_to t('admin.general.my_publications'), admin_publications_path %></li>
          <!-- <li><a href="/admin/publications">Configuraci&oacute;n</a></li> -->
          <li><%= link_to t('general.nav.sign_out'), logout_sessions_path %></li>
        </ul>
      </div>

      <%= link_to t('general.nav.new_publication'), app_path(anchor: 'publication-new'), id: 'publication-new', class: 'btn btn-warning' %>
    </nav>
  </section>

  <%= yield %>

  <script type="text/javascript">
    require(['require', 'application'], function (require) {
      require(['application'], function (view) {
        view.init({
          // Application view data..
        });
      });
    });
    <%= yield :javascript %>
  </script>

</body>
</html>
